<div class="animatedwrapper">
  <div class="dot dot--one"></div>
  <div class="dot dot--two"></div>
  <div class="dot dot--three"></div>
  <div class="corner-dot"></div>
</div>

<header>
  <h1 id="main-title">Hello, I'm Chiara.</h1>
  <h2 id="secondary-title">I'm a web developer.</h2>

  <p id="header-subtext">I create web applications mainly on Rails & Javascript.<br>I'm looking for my place in the world somewhere between <strong>creativity</strong> and <strong>logic</strong>.</p>
  <p id="callTA"><strong>Take a look at some of my projects.</strong></p>
</header>

<div class="staticwrapper">
  <div class="static-dot"></div>
</div>

<main>
  <div class="container">
    <div id="projects" class="projects">
      <div class="project-card row">
        <div class="description col-12 col-xl-6">
          <h3 class="project-title">Insta-clone</h3>
          <div class="project-links">
            <% link_to "https://clone-gram.netlify.app/login" do %>
              <i class="fas fa-link"></i></i>
            <% end %>
            <% link_to "https://github.com/OoKiaoO/insta-clone" do %>
              <i class="devicon-github-original"></i>
            <% end %>
          </div>
          <div class="project-description">
            <p><strong>Solo Project</strong></p>
            <p>To further familiarise myself with the functional side of React, I built a simple Instagram app clone with basic functions: the app handles login and signup and relies on <strong>Firebase</strong> authentication. It is built entirely in <strong>React</strong> while styling and layout are done with <strong>TailwindCss</strong>.</p>
            <div class="dev-icons">
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-react-original"></i>
              <i class="devicon-firebase-plain-wordmark"></i>
            </div>
          </div>
        </div>
        <div class="screenshot mockup col-12 col-xl-6">
          <% link_to "https://clone-gram.netlify.app/login" do %>
            <%= image_tag "insta-clone.png" %>
          <% end %>
        </div>
      </div>

      <div class="project-card row">
        <div class="description col-12 col-xl-6">
          <h3 class="project-title">Tunes</h3>
          <div class="project-links">
            <% link_to "https://spotifytunes.netlify.app/" do %>
              <i class="fas fa-link"></i></i>
            <% end %>
            <% link_to "https://github.com/OoKiaoO/Tunes" do %>
              <i class="devicon-github-original"></i>
            <% end %>
          </div>
          <div class="project-description">
            <p><strong>Solo Project</strong></p>
            <p>Using React & Spotify API, Tunes lets you search for your favourite songs, create custom playlists and save them on your Spotify account.</p>
            <div class="dev-icons">
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-react-original"></i>
              <i class="devicon-css3-plain"></i>
            </div>
          </div>
        </div>
        <div class="screenshot mockup col-12 col-xl-6">
          <% link_to "https://spotifytunes.netlify.app/" do %>
            <%= image_tag "tunes.png" %>
          <% end %>
        </div>
      </div>

      <div class="project-card row">
        <div class="description col-12 col-xl-6">
          <h3 class="project-title">Book a Cook</h3>
          <div class="project-links">
            <% link_to "https://bookachef.herokuapp.com/" do %>
              <i class="fas fa-link"></i></i>
            <% end %>
            <% link_to "https://github.com/OoKiaoO/book-a-cook" do %>
              <i class="devicon-github-original"></i>
            <% end %>
          </div>
          <div class="project-description">
            <p><strong>Team Project</strong></p>
            <p><strong>Main Role:</strong> Front-end development, UI/UX Design</p>
            <p>Book a Cook is an Airbnb-style app that connects culinary professionals with on-demand requests from customers and brings their business directly to their homes.</p>
            <div class="dev-icons">
              <i class="devicon-rails-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
              <i class="devicon-postgresql-plain-wordmark"></i>
              <i class="devicon-heroku-original-wordmark"></i>
            </div>
          </div>
        </div>
        <div class="screenshot mockup col-12 col-xl-6">
          <% link_to "https://bookachef.herokuapp.com/" do %>
            <%= image_tag "BookaCook.png" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="about" class="about">
      <div class="about-me row">
        <div class="bio col-12 col-lg-8">
          <h3>Hi there!</h3>
          <p>My name is Chiara and I'm a Tokyo-based full-stack developer with a background in Travel and Customer Care. I used to travel the world for a living out of the middle eastern desert, until I decided to move to Japan to focus on my career in travel, but ended up a developer instead..Oops.</p>
          <p>I create web applications from scratch using mainly Ruby on Rails and Javascript and very much enjoy curating the UI and UX design as well, which is why I end up taking care of the design part in most of my Team projects. I'm currently working on adding React and Typescript to my set of skills.</p>
        </div>
        <div class="profile-pic col-12 col-lg-4">
          <%= image_tag 'profile_pic.jpg' %>
        </div>
      </div>
      <div class="skills row">
        <div class="skill-title col-12 col-lg-4">
          <p><strong>Front End</strong></p>
          <div class="dev-icons">
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-css3-plain-wordmark"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-bootstrap-plain-wordmark"></i>
            <i class="devicon-react-original"></i>
          </div>
        </div>
        <div class="skill-title col-12 col-lg-4">
          <p><strong>Back End</strong></p>
          <div class="dev-icons">
            <i class="devicon-ruby-plain-wordmark"></i>
            <i class="devicon-rails-plain-wordmark"></i>
            <i class="devicon-postgresql-plain-wordmark"></i>
            <i class="devicon-heroku-original-wordmark"></i>
            <i class="devicon-firebase-plain-wordmark"></i>
          </div>
        </div>
        <div class="skill-title col-12 col-lg-4">
          <p><strong>Other Tools</strong></p>
          <div class="dev-icons">
            <i class="devicon-visualstudio-plain"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-trello-plain"></i>
            <i class="devicon-github-original"></i>
            <i class="fab fa-figma"></i>
          </div>
        </div>
      </div>
    </div>

    <%# <div class="contacts">
      <h3>Thank you for stopping by!</h3>
      <h5>If you want ot get in touch or work on a project together, feel free to drop me a line <a>here</a>.</h5>

      <h3>Stay inspired and have a bedazzling <%= Date.today.day %>.
    <%# </div> %>
  </div>
</main>